html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
  font-family: 'Roboto Slab', serif;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
nav{
  background-color: #CCE3DE;
  width: 100%;
  margin: 0;
  padding: 1.5%;
}
nav ul{
  margin: 0;
  list-style: none;
}
nav ul li a{
  
  background-color: #CCE3DE;
  color: #6B9080;
transition: 0.3s;
text-decoration: none;
}

nav li a:hover{
  color: #3a6955;
  cursor: pointer;
}
nav ul li{
  height: 5%;
  color: #6B9080;
  text-align: center;
  background-color: #CCE3DE;
  float: right;
  width: 10%;
}